# Canton Quickstart - AppUser configuration
OAUTH_OIDC_CONF_URL=http://keycloak.localhost:8082/realms/AppUser/.well-known/openid-configuration
OAUTH_CLIENT_ID=app-user-validator
OAUTH_CLIENT_SECRET=6m12QyyGl81d9nABWQXMycZdXho6ejEX
OAUTH_AUDIENCE=https://canton.network.global
LEDGER_API_URL=http://localhost:2975
